<include file="../Common/header"/>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>武校简介</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="content-panel">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>武校简介<a style='margin-left: 100px' href="__MODULE__/Company/dis" class="btn btn-theme04">查看详情</a></th><th></th>
                            </tr>

                            <tr>
                                <th>网站标题</th><th style="font-size:23px;">{$info.title}</th>
                            </tr>
                            <tr>
                                <th>网站关键字</th><th style="font-size:23px;">{$info.keywords}</th>
                            </tr>
                             <tr>
                                <th>描述</th><th style="font-size:20px;">{$info.description2}</th>
                            </tr>

                            <tr>
                                <th>首页内容</th><th style="font-size:20px;">{$info.description}</th>
                            </tr>
                           
                            <tr>
                                <th>图片</th><th style="font-size:23px;">  <img src="{$info.pic}" width="150px" height="100px">  </th>
                            </tr>
<!--                            <tr>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">描述</label>
                                    <div class="col-sm-10">
                                        <script type="text/javascript" charset="utf-8" src="/Public/Admin/ue/ueditor.config.js"></script>
                                        <script type="text/javascript" charset="utf-8" src="/Public/Admin/ue/ueditor.all.min.js"></script>
                                        <script type="text/javascript" charset="utf-8" src="/Public/Admin/ue/lang/zh-cn/zh-cn.js"></script>
                                        <script id="editor" type="text/plain" name="profile" value="" style="width:1024px;height:500px;">{$info.profile}</script>
                                    </div>
                                </div>
                        </tr>-->
                        <tr>
                            <th style="width:10%;"></th><th><a style="width:30%;" href="__MODULE__/Company/change" class="btn btn-success">修改</a></th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div><!-- /col-md-12 -->
        </div><!-- row -->
    </section>
</section><!-- /MAIN CONTENT -->

<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div style="cursor: pointer;" class="text-center" onclick="hid()">
        温馨提示：为了保证您的数据安全！请您离开时，一定要记得退出后台！
    </div>
</footer>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>
<script>
    function hid()
    {
        $(".site-footer").hide();
    }
    var words = ['温馨提示：为了保证您的数据安全！请您离开时，一定要记得退出后台！', '温馨提示：删除数据时，一定要谨慎操作！内存有现，数据无价！', '温馨提示：登录密码要牢记！忘记请联系我们！', '温馨提示：要是您对网站有什么问题，请致电我们公司，我们会详细为您解答！'];

    $(".text-center").html(words[Math.round(Math.random() * 3 + 1)]);



</script>
<!--footer end-->
</section>
</body>
</html>