<include file="../Common/header"/>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>链接地址</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="content-panel">
                    <table class="table">
                        <thead>

<!--                            <tr>
                                <th style="width:15%;">武校招生对像及报名方法</th><th style="width:85%;">{$info.object}</th>
                            </tr>-->
                            <tr>
                                <th>电话咨询</th><th>{$link.phone}</th>
                            </tr>
                            <tr>
                                <th>短信咨询</th><th>{$link.sms}</th>
                            </tr>
                            <tr>
                                <th>在线咨询</th><th>{$link.online}</th>
                            </tr>
                            <tr>
                                <th>乘坐校车</th><th>{$link.shool}</th>
                            </tr>
                            <tr>
                                <th>在线预约</th><th>{$link.yuyue}</th>
                            </tr>
                            <tr>
                                <th>在线报名</th><th>{$link.baoming}</th>
                            </tr>
                                <th></th><th><a style="width:50%;" href="__MODULE__/Link/change" class="btn btn-success">修改</a></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div><!-- /col-md-12 -->
        </div><!-- row -->
    </section>
</section><!-- /MAIN CONTENT -->

<!--main content end-->
<!--footer start-->
<footer class="site-footer">
    <div style="cursor: pointer;" class="text-center" onclick="hid()">
        温馨提示：为了保证您的数据安全！请您离开时，一定要记得退出后台！
    </div>
</footer>
<script>
    function hid()
    {
        $(".site-footer").hide();
    }
    var words = ['温馨提示：为了保证您的数据安全！请您离开时，一定要记得退出后台！', '温馨提示：删除数据时，一定要谨慎操作！内存有现，数据无价！', '温馨提示：登录密码要牢记！忘记请联系我们！', '温馨提示：要是您对网站有什么问题，请致电我们公司，我们会详细为您解答！'];

    $(".text-center").html(words[Math.round(Math.random() * 3 + 1)]);



</script>
<!--footer end-->
</section>
</body>
</html>