<include file="../Common/header"/>

<!-- **********************************************************************************************************************************************************
MAIN CONTENT
*********************************************************************************************************************************************************** -->
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i>教学环境</h3>

        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <h4 class="mb"><i class="fa fa-angle-right"></i><if condition="$info['id']">修改详情信息<else/>添加详情</if></h4>
                    <form class="form-horizontal style-form" method="post" action="__MODULE__/Environment/dodata" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{$info.id}">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">原始图片</label>
                            <div class="col-sm-10">
                                <img src="{$info.pic}" width="150px" height="100px"><span style='color: red'>上传图片大小352*258</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">图片</label>
                            <div class="col-sm-10">
                                <input type="file" name="pic" value=""/>
                            </div>
                            <button style="margin-left: 15%;" type="submit" class="btn btn-theme02"><i class="fa fa-check"></i>确认上传</button>

                        </div>
                    </form>

                    <form class="form-horizontal style-form" method="post" action="__MODULE__/Environment/dodata1" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="{$info.id}">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" value="{$info.name}" style="width:50%" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">类别</label>
                            <div class="col-sm-10">
                                <select name="cates">  
                                    <option value ="校园设施" <if condition="$info.cates eq '校园设施'">selected="selected"</if>>校园设施</option>  
                                    <option value ="宿舍环境"  <if condition="$info.cates eq '宿舍环境'">selected="selected"</if>>宿舍环境</option>  
                                    <option value="校园餐厅" <if condition="$info.cates eq '校园餐厅'">selected="selected"</if>>校园餐厅</option>  
                                    <option value="新生入伍" <if condition="$info.cates eq '新生入伍'">selected="selected"</if>>新生入伍</option>  
                                    <option value="女生练功图片" <if condition="$info.cates eq '女生练功图片'">selected="selected"</if>>女生练功图片</option>  
                                </select>
                            </div>
                        </div>
                        <button type="submit" style="width:30%;margin-left:17%;" class="btn btn-theme03">确认修改</button>
                    </form>
                </div>
            </div><!-- col-lg-12-->      	
        </div><!-- /row -->

    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
<!--footer start-->

<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor');
</script>
<footer class="site-footer">
    <div style="cursor: pointer;" class="text-center" onclick="hid()">
        温馨提示：为了保证您的数据安全！请您离开时，一定要记得退出后台！
    </div>
</footer>
<script>
    function hid()
    {
        $(".site-footer").hide();
    }
    var words = ['温馨提示：为了保证您的数据安全！请您离开时，一定要记得退出后台！', '温馨提示：删除数据时，一定要谨慎操作！内存有现，数据无价！', '温馨提示：登录密码要牢记！忘记请联系我们！', '温馨提示：要是您对网站有什么问题，请致电我们公司，我们会详细为您解答！'];

    $(".text-center").html(words[Math.round(Math.random() * 3 + 1)]);



</script>
<!--footer end-->
</section>
</body>
</html>